/* .note-card {
    background-color: var(--accent-color);
    border-radius: 0.75rem;
    width: 14rem;
    height: 16.3rem;
    margin: 0 1rem;
}
*/
    
.excerpt-card-body {
    background-color: #EEE;
    color: #000;
    border-radius: 0.75rem;
    /* border-color: var(--accent-color); */
    border: 8px solid var(--accent-color);
    /* padding: 0.75rem; */
    width: 12.5rem;
    height: 14.5rem;
    margin: auto;
    padding: 1rem;
}

.excerpt-card-body:hover {
    padding: 1.75rem;
    /* position: absolute; */
    z-index: 2;
}

.excerpt-text {
    width: 11.5rem;
    height: 8.125rem;
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 1rem;
    padding: 0 0.75rem;
}

.edit-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.excerpt-card-heading {
    display: flex;
    justify-content: space-between;
    text-align: left;
    line-height: normal;
    font-size: 0.875rem;
    font-weight: 500;
    text-wrap:balance;
    padding: 0.75rem;
}

#excerpt-author {
    color: #000;
}