.excerpt-details-page {
    /* margin: auto; */
    margin-left: 20rem;
    /* background-color: var(--primary-color); */
    /* width: 100%; */
    display: flex;
}

#excerpt {
    margin: auto;
    background-color: var(--primary-color);
    width: 44.4rem;
    height: 47rem;
    margin-top: 8rem;
    border-radius: 6px;
}

#excerpt-title {
    background-color: #EEE;
    height: 2.75rem;
    width: 20.2rem;
    border-radius: 6px 0;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 2rem;
    padding-top: .75rem;
    color: #000;
    overflow: hidden;
}

#excerpt-heading {
    display: flex;
    justify-content: space-between;
}

#excerpt-heading img {
    width: 2rem;
    height: 2rem;
    margin: .75rem;
    cursor: pointer;
}

#excerpt-body {
    background-color: #EEE;
    margin-top: 1rem;
    width: 42.7rem;
    height: 20rem;
    text-align: left;
    border-radius: 6px;
    border: none;
    padding: 1rem;
}

#footer {
    display: flex;
    justify-content: end;
}

#save-changes-button {
    width: 8.43rem;
    height: 2rem;
    background-color: var(--accent-color);
    color: #EEE;
    font-size: 0.75rem;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    margin: 1rem;
    cursor: pointer;
}

#delete-button {
    width: 5rem;
    height: 2rem;
    background-color: rgb(127, 0, 0);
    color: #EEE;
    font-size: 0.75rem;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    margin: 1rem;
    cursor: pointer;
}

#check-delete {
    position: fixed;
    z-index: 2;
    background-color: var(--primary-color);
    top: 50%;
    left: 50%;
    color: #EEE;
    width: 23rem;
    height: 6rem;
    text-align: center;
    padding: .75rem;
    border-radius: 12px;
}

#choice-buttons {
    display: flex;
    justify-content: space-evenly;
}

#check-delete button {
    margin-top: 2rem;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
}

#yes-button {
    background-color: rgb(127, 0, 0);
    color: #EEE;
    border: none;
    border-radius: 6px;
}

#no-button {
    background-color: green;
    color: #EEE;
    border: none;
    border-radius: 6px;
}

#citation {
    color: #EEE;
    margin-top: 1rem;
    margin-left: 1rem;
}

.citation-text {
    color: #EEE;
    margin-top: 4rem;
    margin-left: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.italics {
    font-style: italic;
}

/* #citation-form-area {
    color: #EEE;
    margin: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 41.7rem;
    height: 17.75rem;
    background-color: #454545;
    border-radius: 6px;
} */

#citation-container {
    display: flex;
    margin-top: 1rem;
    background-color: #454545;
    padding: 1rem;
    border-radius: 6px;
}

#citation-form-area h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

#citation-form-left {
    margin-left: 2rem;
}

#citation-form-left {
    margin-right: 1rem;
}

#publish-date {
    width: 8.4rem;
}

.long-input {
    width: 17.7rem;
    /* height: 1.5rem; */
    color: #000;
    padding: 0.3rem;
    border-radius: 6px;
    border: none;
    margin-top: 1rem;
    background-color: #EEE;
}

.short-input {
    width: 8.4rem;
    height: 1.5rem;
    color: #000;
    padding-left: 2.9rem;
    border-radius: 6px;
    border: none;
    margin-top: 1rem;
    margin-left: 1rem;
}

select {
    width: 8.5rem;
    height: 1.5rem;
    border-radius: 6px;
    margin-top: 1rem;
    margin-right: 1rem;
    border: none;
}