.hero {
    margin: 5rem 10rem 2rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-header {
    color: #EEE;
    font-weight: 600;
    font-size: 60px;
}

.hero-subheader {
    width: 60%;

    color: #BABABA;
    font-size: 20px;
    font-weight: 500;
    margin-top: 2.5rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-image img{
    width: 480px;
    height: 694px;
    object-fit:cover;
}

.demo {
    display: flex;
    margin-top: 3rem;
}

.demo article {
    width: 280px;
    margin-right: 2rem;
}

.demo h2 {
    color: #EEE;
    font-size: 20px;
    font-weight: 500;
}

.demo-card {
    padding: 10px;
    border-left: solid 10px var(--primary-color);
    border-right: solid 10px var(--primary-color);
    border-top: solid 15px var(--primary-color);
    border-bottom: solid 15px var(--primary-color);
    border-radius: 12px;
    background-color: var(--background-color);
    margin-top: 3rem;
    height: 240px;
}

.demo-heading {
    height: 60px;

    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
}

.demo-card-body {
    color: #EEE;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
}

.demo-author {
    color: #EEE;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8rem;
}

.demo-card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.demo-card-title img {
    width: 20px;
    height: 20px;
}

.sign-up-button {
    color: #EEE;
    background-color: var(--accent-color);
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
    width: 220px;
    /* height: 47px; */
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 14px 0;
    
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        margin: 2rem 0 0 0;
        padding: 0 0;
    }

    .hero-text {
        z-index: 1;
        margin: 1rem 1rem 1rem 1rem;
    }

    .demo-heading {
        color: #EEE;
    }

    .hero-image {
        position: absolute;
        z-index: 0;
        opacity: 25%;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        flex-direction: column;
        margin: 2rem 0 0 0;
        padding: 0 0;
        width: 100%;
    }

    .hero-text {
        z-index: 1;
        margin: 1rem 1rem 1rem 1rem;
    }

    .demo {
        width: 100%;
    }

    .demo-heading {
        color: #EEE;
    }

    .demo-author {
        margin-top: 4rem;
    }

    .hero-image {
        position: absolute;
        z-index: 0;
        opacity: 25%;
        width: 100%;
        object-fit:cover;
        padding: 0;
        margin: 0;
    }
}