#excerpt {
    background-color: var(--primary-color);
    width: 44.4rem;
    height: 55rem;
    border-radius: 6px;
    margin: auto;
    color: #EEE;
    margin-top: 2rem;
}

header {
    height: 3.45rem;
}

header input {
    height: 3.45rem;
    width: 20.2rem;
    border-radius: 6px 0;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 2rem;
    color: #000;
}

#excerpt-body {
    margin: 1rem;
    display: flex;
}

#excerpt-body textarea{
    margin-top: 1rem;
    width: 42.7rem;
    height: 20rem;
    vertical-align: text-top;
    text-align: left;
    border-radius: 6px;
    border: none;
    padding: 1rem;
}


#citation-form-area {
    margin: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 41.7rem;
    height: 20.75rem;
    background-color: #454545;
    border-radius: 6px;
}

#citation-container {
    display: flex;
    margin-top: 1rem;
}

#citation-form-area h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

#citation-form-left {
    margin-left: 2rem;
    margin-right: 1rem;
}

#citation-form-right {
    display: flex;
    flex-direction: column;
}

#publish-date {
    width: 8.4rem;
}

.long-input {
    width: 17.7rem;
    height: 1.5rem;
    color: #000;
    padding-left: 0.3rem;
    border-radius: 6px;
    border: none;
    margin-bottom: 1rem;
}

.short-input {
    width: 8.4rem;
    height: 1.5rem;
    color: #000;
    padding-left: 2.9rem;
    border-radius: 6px;
    border: none;
    margin-top: 1rem;
    margin-left: 1rem;
}

#citation-form-area select {
    width: 17.7rem;
    height: 1.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: none;
}

::placeholder {
    /* color: #000; */

}

#button-container {
    display: flex;
    margin-top: 2rem;
    margin-right: 2.5rem;
    justify-content: end;
    
}

#submit-button {
    width: 8.4rem;
    height: 2rem;
    border: none;
    border-radius: 6px;
    background-color: var(--accent-color);
    color: #EEE;
    cursor: pointer;
}

#cancel-button {
    width: 8.4rem;
    height: 2rem;
    border: none;
    border-radius: 6px;
    background-color: rgb(127, 0, 0);
    color: #EEE;
    cursor: pointer;
    margin-right: 1rem;
}

label {
    font-size: 14px;
}

.required {
    color: red;;
}